In [1]:
L = [1,2,3]

In [2]:
L[1] = [4]

In [3]:
L

[1, [4], 3]

In [4]:
L[1] = 4

In [5]:
L

[1, 4, 3]

In [6]:
L[1] = []

In [7]:
L

[1, [], 3]

In [8]:
L[1] = False

In [9]:
L

[1, False, 3]

In [10]:
L[1] = None

In [11]:
L

[1, None, 3]

In [12]:
len(L)

3

In [14]:
L[3:4] = 5, 6

In [15]:
L

[1, None, 3, 5, 6]

In [16]:
table = {'1975': 'Holy Grail', '1979': 'Life of Britain', '1983': 'The Meaning of Life'}

In [17]:
year  = '1983'

In [18]:
movie = table[year]

In [19]:
movie

'The Meaning of Life'

In [27]:
for x in table:
    print(x + '--------->>  ' + table[x])

1975--------->>  Holy Grail
1979--------->>  Life of Britain
1983--------->>  The Meaning of Life

In [21]:
for x in table:
    print(table.items())

dict_items([('1975', 'Holy Grail'), ('1979', 'Life of Britain'), ('1983', 'The Meaning of Life')])
dict_items([('1975', 'Holy Grail'), ('1979', 'Life of Britain'), ('1983', 'The Meaning of Life')])
dict_items([('1975', 'Holy Grail'), ('1979', 'Life of Britain'), ('1983', 'The Meaning of Life')])

In [23]:
 print(table.keys())

dict_keys(['1975', '1979', '1983'])

In [30]:
r_table = dict((x, y) for y, x in table.items())

In [31]:
r_table

{'Holy Grail': '1975',
 'Life of Britain': '1979',
 'The Meaning of Life': '1983'}

In [32]:
r_table = [(x, y) for y, x in table.items()]

In [33]:
r_table

[('Holy Grail', '1975'),
 ('Life of Britain', '1979'),
 ('The Meaning of Life', '1983')]

In [35]:
keys = []
values = []
for x,y in table.items():
    keys.append(x)
    values.append(y)
print(keys, values)

['1975', '1979', '1983'] ['Holy Grail', 'Life of Britain', 'The Meaning of Life']

In [42]:
r_table = [(x, y) for x, y in table.items() if x == '1975']

In [43]:
r_table

[('1975', 'Holy Grail')]

In [44]:
L

[1, None, 3, 5, 6]

In [45]:
L[4]

6

In [49]:
L[4:5] = 7,5

In [50]:
L

[1, None, 3, 5, 7, 5]

In [51]:
d = {}

In [52]:
d[99] = 'spam'

In [53]:
d[99]

'spam'

In [54]:
d

{99: 'spam'}

In [55]:
d.get(99)

'spam'

In [58]:
d.get(100, '00')

'00'

In [59]:
99 in d

True

In [60]:
'spam' in d

False

In [61]:
table

{'1975': 'Holy Grail',
 '1979': 'Life of Britain',
 '1983': 'The Meaning of Life'}

In [62]:
list(table.items())

[('1975', 'Holy Grail'),
 ('1979', 'Life of Britain'),
 ('1983', 'The Meaning of Life')]

In [63]:
list(table)

['1975', '1979', '1983']

In [64]:
list(table.keys())

['1975', '1979', '1983']

In [65]:
list(table.values())

['Holy Grail', 'Life of Britain', 'The Meaning of Life']

In [67]:
Matrix = {}

In [68]:
Matrix[(2,3,4)] = 88

In [69]:
Matrix[(7,8,8)] = 99

In [71]:
X = 2

In [72]:
Y = 3

In [73]:
Z = 4

In [74]:
Matrix[(X, Y, Z)]

88

In [75]:
Matrix

{(2, 3, 4): 88, (7, 8, 8): 99}

In [76]:
rec = {'name': 'Bob',
... 'jobs': ['developer', 'manager'],
... 'web': 'www.bobs.org/˜Bob',
... 'home': {'state': 'Overworked', 'zip': 12345}}

In [77]:
rec

{'name': 'Bob',
 'jobs': ['developer', 'manager'],
 'web': 'www.bobs.org/˜Bob',
 'home': {'state': 'Overworked', 'zip': 12345}}

In [80]:
db = []

In [81]:
db.append(rec)

In [82]:
db

[{'name': 'Bob',
  'jobs': ['developer', 'manager'],
  'web': 'www.bobs.org/˜Bob',
  'home': {'state': 'Overworked', 'zip': 12345}}]

In [84]:
db[0]['jobs']

['developer', 'manager']

In [87]:
db[0]['name'] = 'robin'

In [88]:
db

[{'name': 'robin',
  'jobs': ['developer', 'manager'],
  'web': 'www.bobs.org/˜Bob',
  'home': {'state': 'Overworked', 'zip': 12345}}]

In [89]:
D = {'name': 'Bob', 'age': 40}

In [90]:
D

{'name': 'Bob', 'age': 40}

In [91]:
type(D)

dict

In [92]:
D1 = {}

In [93]:
D1['name'] = 'Bob'

In [94]:
D1['age'] = 40

In [95]:
D1

{'name': 'Bob', 'age': 40}

In [96]:
D2 = dict(name='Bob', age=40)

In [97]:
D2

{'name': 'Bob', 'age': 40}

In [101]:
D3 = dict([('name', 'Bob'), ('age', 40)])

In [99]:
D3

{'name': 'Bob', 'age': 40}

In [104]:
keyslist = ['name', 'age']
valuelist = ['bob', 40]

In [105]:
d = list(zip(keyslist, valuelist))

In [106]:
d =

[('name', 'bob'), ('age', 40)]

In [108]:
d100 = dict.fromkeys([keyslist], 0)

TypeError: unhashable type: 'list'

In [109]:
keyslist

['name', 'age']

In [124]:
d100 = dict.fromkeys(keyslist, list(range(100)))

In [125]:
d100

{'name': [0,
  1,
  2,
  3,
  4,
  5,
  6,
  7,
  8,
  9,
  10,
  11,
  12,
  13,
  14,
  15,
  16,
  17,
  18,
  19,
  20,
  21,
  22,
  23,
  24,
  25,
  26,
  27,
  28,
  29,
  30,
  31,
  32,
  33,
  34,
  35,
  36,
  37,
  38,
  39,
  40,
  41,
  42,
  43,
  44,
  45,
  46,
  47,
  48,
  49,
  50,
  51,
  52,
  53,
  54,
  55,
  56,
  57,
  58,
  59,
  60,
  61,
  62,
  63,
  64,
  65,
  66,
  67,
  68,
  69,
  70,
  71,
  72,
  73,
  74,
  75,
  76,
  77,
  78,
  79,
  80,
  81,
  82,
  83,
  84,
  85,
  86,
  87,
  88,
  89,
  90,
  91,
  92,
  93,
  94,
  95,
  96,
  97,
  98,
  99],
 'age': [0,
  1,
  2,
  3,
  4,
  5,
  6,
  7,
  8,
  9,
  10,
  11,
  12,
  13,
  14,
  15,
  16,
  17,
  18,
  19,
  20,
  21,
  22,
  23,
  24,
  25,
  26,
  27,
  28,
  29,
  30,
  31,
  32,
  33,
  34,
  35,
  36,
  37,
  38,
  39,
  40,
  41,
  42,
  43,
  44,
  45,
  46,
  47,
  48,
  49,
  50,
  51,
  52,
  53,
  54,
  55,
  56,
  57,
  58,
  59,
  60,
  61,
  62,
  63,
  64,
  65,
  66,
  67,
  68,
  69,
  70,
  71,
  72,
  73,
  74,
  75,
  76,
  77,
  78,
  79,
  80,
  81,
  82,
  83,
  84,
  85,
  86,
  87,
  88,
  89,
  90,
  91,
  92,
  93,
  94,
  95,
  96,
  97,
  98,
  99]}

In [131]:
D = {k: v for (k,v) in zip(['a', 'b', 'c'], [1,2,3])}

In [132]:
D

{'a': 1, 'b': 2, 'c': 3}

In [ ]:
D = {x: x**2 for x in [1,2,3,4]}