# Strings

In [139]:
x='let go " to aditya\'s place'
print(x,y)

let go " to aditya's place Hi

In [15]:
y = '''hey,he said "lets go to aditya's place"'''
print(y)

hey,he said "lets go to aditya's place"

In [142]:
"hi how are you"
y="hi"
print(y)

hi

In [149]:
# Multiline string

a = '''Hi
my
name
is 
Aditya'''

print(a)

Hi
my
name
is
Aditya

indexing

In [150]:
# Accessing a letter in a string
#the indexing starts with 0

a = "hello" #0=h , 1=e, 2=l ,3=l ,4=o 
print(a[0])
print(a[4])

h
o

In [187]:
# getting a range of characters

a = "Hello World!"
b = a[1:5]          # var[starting_point : ending point : step]
c = a[1:5:1] 
print(b)
print(c)
print(a[5:0:-1])      #printing string in reverse direction

ello
ello
 olle

In [42]:
# Substring. Get the characters from position 2 to position 5 (not included):

b = "abcdefghij"
print(b[2:6])

cdef

In [214]:
#The len() method returns the length of a string:

x  = "hello"
len(x)
a = "hello hi hello hihi"
cap_a = a.count("hi")

print(a, cap_a)

hello hi hello hihi 3

In [208]:
a = "hello"
cap_a = a.center(8,"a")

print(cap_a)

ahelloaa

In [229]:
#The lower() method returns the string in lower case:

a = "HELLO, WORLD!"
b=a[3::]
a = a[0:4].lower()

print(a)
print(b)

# a.replace

hellLO, WORLD!
LO, WORLD!

In [71]:
# The strip() method removes any whitespace from the beginning or the end:

a = "   Hello, W   orld!   "
print(str.strip("  Time   "))       
a.strip()


# a = " hello"
# b = "hello"

Time

'Hello, W   orld!'

In [235]:
# The replace() method replaces a string with another string:

a = "Hello, World World World!"
print(a.replace("World", "Friend",2))

Hello, Friend Friend World!

In [240]:
# The split() method splits the string into substrings if it finds instances of the separator:

string = "0, 1, 2, 3, 4"
split_list = string.split(',2')
print(split_list)    
# a=str(split_list)
# type(a)
# string = 'Hello World'
# split_list = string.split?
# split_list

['0, 1, 2, 3, 4']

In [98]:
a="hello"
a.lower()

'hello'

String Representaton

In [243]:
a = 100
b = 50
print('My age is', a-b)
print(f'My age is {a-b}') #f string

x = "I wanted to wish you {} {}"
print(x.format("hi","hello"))
# print("hi {}",format("vivek"))

My age is 50
My age is 50
I wanted to wish you hi hello

In [249]:
a=5
b=2
print("I'm %s from Byte academy" %(a-b))

I'm 3 from Byte academy

In [106]:
print("I'm %s from %s" %('Ashwin','Byte'))

I'm Ashwin from Byte

In [250]:
x, y = 10.25, 20.25
print("I'm %i from %i"%(x,y)) #used for integer representation inside the string

I'm 10 from 20

In [262]:
number = 10.254454547885865
print("the number is %f"%(number)) #used for float representation

the number is 10.254455

# Operators

Python Operators:

Operators are used to perform operations on variables and values.

Python divides the operators in the following groups:

Arithmetic operators
Assignment operators
Comparison operators
Logical operators
Identity operators
Membership operators

Arithmetic operators

Arithmetic operators are used with numeric values to perform common mathematical operations:

In [ ]:
'''
+	Addition	x + y	

-	Subtraction	x - y	

*	Multiplication	x * y	

/	Division	x / y	

%	Modulus	x % y	

**	Exponentiation	x ** y	

//	Floor division	x // y '''

In [267]:
x = 5
y = 2
z = x//y
print(z)

2

Python Assignment Operators

Assignment operators are used to assign values to variables:

In [268]:
# =    	x = 5   	    x = 5

# x = 5

# #    +=   	x += 5  	    x = x + 5

x = x + 5
x += 5

# print(x)
    
# #    -=   	x -= 3  	    x = x - 3

x -= 5
# print(x)
   
# #    *=   	x *= 3  	    x = x * 3

x *= 5
x = x*5
# print(x)

   
#    /=   	x /= 3  	    x = x / 3
   
#    %=   	x %= 3  	    x = x % 3
   
#    //=  	x //= 3 	    x = x // 3

x = 10
x//= 3
x = x//3
   
#    **=  	x **= 3 	    x = x ** 3
x = 10
x **= 5
x = x**5

In [272]:
a=5
a += 5 
print(a)

10

Python Comparison Operators

Comparison operators are used to compare two values:

In [276]:
a = 10
b = 20
print(a==b) # asking the question is a  equal to b?
print(a!=b)
print(a<=b)
print(a>=b)

False
True
True
False

In [119]:
'''==   	Equal                       	x == y

   !=   	Not equal                   	x != y
   
   >    	Greater than                	x > y
   
   <    	Less than                   	x < y
   
   >=   	Greater than or equal to    	x >= y
   
   <=   	Less than or equal to       	x <= y'''

print('\n')


x = 10
y = 20
z = 30

if x>y and x>z :
    print('x is greatest')
elif y>x and y>z:
    print('y is greatest')
elif z>x and z>y:
    print('z is greatest')
else:
    print('something')

z is greatest

Python Comparison Operators

Comparison operators are used to compare two values:

In [120]:
a = 10
b = 20
print(a==b) # asking the question is a  equal to b?
print(a!=b)
print(a<=b)
print(a>=b)

False
True
True
False

In [121]:
'''==   	Equal                       	x == y

   !=   	Not equal                   	x != y
   
   >    	Greater than                	x > y
   
   <    	Less than                   	x < y
   
   >=   	Greater than or equal to    	x >= y
   
   <=   	Less than or equal to       	x <= y'''

print('\n')


x = 10
y = 20
z = 30

if x>y and x>z :
    print('x is greatest')
elif y>x and y>z:
    print('y is greatest')
elif z>x and z>y:
    print('z is greatest')
else:
    print('something')

z is greatest

Python Logical Operators

Logical operators are used to combine conditional statements:

In [286]:
'''and  	Returns True if both statements are true                    	x < 5 and  x < 10

   or   	Returns True if one of the statements is true               	x < 5 or x < 4
   
   not  	Reverse the result, returns False if the result is true     	not(x < 5 and x < 10)'''

a = 40
b = 20
c = 30

print (not(a>b and a>c))

False

Python Identity Operators

Identity operators are used to compare the objects, not if they are equal, but if they are actually the same object, with the same memory location:

In [291]:
'''is       	Returns true if both variables are the same object      	x is y'''

x = 10
y = 20

print(x is y)   # is x pointing to the same object as y?

'''is not   	Returns true if both variables are not the same object  	x is not y'''
# print('\n')
# x = 10
# y = 10
# print(x is not y)


# x = [10, 20, 30]
# y = [10, 20, 30]
# print(x is y)

x = "Hi"
y = "Hi"
print(x is y)

False
True

Python Membership Operators

Membership operators are used to test if a sequence is presented in an object:

In [292]:
'''in       	Returns True if a sequence with the specified value is present in the object    	x in y'''

# l = [1, 2, 3, 4]    # List, will see in collection datatypes
# e = 2
# print(e in l)


# '''not in   	Returns True if a sequence with the specified value is not present in the object	x not in y'''

# l = [1, 2, 3, 4]
# e = 2
# print(e not in l)
# print('\n')

string = 'Hello World'
print('hello' in string)

False