Write a Python function to find the Max of three numbers

In [3]:
def max3(x,y,z):
    return max(x,y,z)

max3(10,12,14)

14

Write a Python function to sum all the numbers in a list.

In [17]:
def sumlist(x):
    suml = 0 # if not initialised, assignment to a variable not exists error
    for i in x:
        suml += i
    return suml

sumlist([1,2,3])

6

Write a Python function to multiply all the numbers in a list

In [24]:
def prod(x):
    prodt = 1
    for i in x:
        prodt *= i
    return prodt

prod([1,2,3])

6

Write a Python program to reverse a string

In [25]:
def reverse_str(x):
    x = x[::-1]
    return x

reverse_str('ashok')

'kohsa'

Write a Python function to calculate the factorial of a number (a non-negative integer). The function accepts the number as an argument.

In [33]:
def fact(n):
        prod = 1
        for i in range(1,n+1):
            prod *= i
        return prod
fact(0)

1

Write a Python function to check whether a number is in a given range.

In [35]:
def numchk(n,r):
    if n in range(r):
        return True
    else:
        return False
    
numchk(120, 150)

True

Write a Python function that accepts a string and calculate the number of upper case letters and lower case letters

In [40]:
def uplowcount(s):
    upcount = 0
    lowcount = 0
    for i in s:
        if i.isupper() == True:
            upcount += 1
        elif i.islower() == True:
            lowcount += 1
        else:
            pass
    return upcount, lowcount

uplowcount('The quick Brow Fox')

(3, 12)

Write a Python function that takes a list and returns a new list with unique elements of the first list.

In [43]:
def uniquels(l):
    l = list(set(l))
    return l

uniquels([1,1,2,2,3,4,5,5])

[1, 2, 3, 4, 5]

Write a Python function that takes a number as a parameter and check the number is prime or not.

In [86]:
def prime(n):
    primelist = list()
    for i in range(1,n+1):
        if n == 1:
            return '1 is not prime'
        elif n % i == 0:
            primelist.append(i)
        else:
            pass
    if len(primelist) > 2:
        return 'n is not prime'
    else:
        return 'n is prime'

In [88]:
prime(1)

'1 is not prime'

Write a Python program to print the even numbers from a given list

In [92]:
def printeven(ls):
    for x in ls:
        if x % 2 == 0:
            print(x, end=' ')
        else:
            pass

printeven([1,2,3,4,5,6])

2 4 6

Write a Python function that checks whether a passed string is palindrome or not.

In [45]:
def palinchk(s):
    if s.lower() == s[::-1].lower():
        return f'{s} is a palindrome'
    else:
        return f'{s} is not a palindrome'

palinchk('Madam')

'Madam is a palindrome'

Write a Python function to check whether a string is a pangram or not

In [265]:
def pangram(str):
    
    lst1 = list()
    str1 = 'abcdefghijklmnopqrstuvwxyz'
    for x in str1:
        lst1.append(x)
    
    lst2 = list()   
    str2 = str.lower()
    for x in str2:
        if x == ' ':
            continue
        else:
            lst2.append(x)

    lst1.sort()
    lst2.sort()
        
    set1 = set(lst1)
    set2 = set(lst2)

    return set1 == set2

In [269]:
pangram('The quick brown fox jumps over the lazy dog')

True

Write a Python program that accepts a hyphen-separated sequence of words as input and prints the words in a hyphen-separated sequence after sorting them alphabetically.

In [23]:
def ordered(s):
    lst = s.split('-')
    lst.sort()
    s1 = '-'.join(lst)
    return s1

In [24]:
ordered('green-red-yellow-black-white')

'black-green-red-white-yellow'

Write a Python function to create and print a list where the values are square of numbers between 1 and 30 (both included)

In [26]:
def sqrs(n):
    lst = [x**2 for x in range(1, n+1)]
    return lst

In [27]:
sqrs(30)

[1,
 4,
 9,
 16,
 25,
 36,
 49,
 64,
 81,
 100,
 121,
 144,
 169,
 196,
 225,
 256,
 289,
 324,
 361,
 400,
 441,
 484,
 529,
 576,
 625,
 676,
 729,
 784,
 841,
 900]

In [9]:
def test(a):
    def add(b):
        nonlocal a 
        a += 1
        return a+b
    return add
func= test(4)
func(4)

9